.create-employee-for-others {
    padding: 1rem 4rem;
}

.create-employee-for-others form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    padding-inline: 8rem;
}

@media (max-width: 1200px) {
    .create-employee-for-others {
        padding: 1rem 0;
    }

    .create-employee-for-others form {
        padding-inline: 2rem;
    }
}

.cancel-btn {
    background: #fff;
    border: 1px solid #EBECF0;
    color: #5B616D;
}

.continue-btn {
    background: #8B4CFF;
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: 0 2px 8px -2px rgba(255, 255, 255, 0.56) inset, 0 0 8px -2px rgba(0, 0, 0, 0.24) inset;
    color: white;
}

.continue-btn:disabled {
    background: #C8B6F5;
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: none;
    color: #F0F0F0;
    cursor: not-allowed;
    opacity: 0.7;
}