.create-client-for-others {
  padding: 1rem 4rem;
}

.create-client-for-others form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  padding-inline: 8rem;
}

@media (max-width: 1200px) {
  .create-client-for-others {
    padding: 1rem 0;
  }

  .create-client-for-others form {
    padding-inline: 2rem;
  }
}

.cancel-btn {
  background: #fff;
  border: 1px solid #ebecf0;
  color: #5b616d;
}

.continue-btn {
  background: #8b4cff;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0 2px 8px -2px rgba(255, 255, 255, 0.56) inset,
    0 0 8px -2px rgba(0, 0, 0, 0.24) inset;
  color: white;
}

.continue-btn:disabled {
  background: #c8b6f5;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: none;
  color: #f0f0f0;
  cursor: not-allowed;
  opacity: 0.7;
}
