/* BBcsmp-SeC */

.BBcsmp-SeC{
    position: relative;
    width: 100%;
    height: auto;
}

.BBcsmp-SeC-Main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.BBcsmp-SeC-Box{
    position: relative;
    width: 650px;
    height: auto;
    min-height: 400px;
    border: 1px solid #e7e2f7;
    border-radius: 8px;
}

.BBMPInfo-Palt-Top{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e7e2f7;
    gap: 5px;
}

.BBMPInfo-Palt-Top h3{
    font-size: 18px;
    font-weight: 500;
}

.BBMPInfo-Palt-Top p{
    font-size: 12px;
    color: #667085;
}










.Subb-TTons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}

/* Switch Container */
.switch-container {
  width: 200px;
  height: 35px;
  background-color: #f7f5ff;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 10px;
  overflow: hidden;
}

/* Animated slider */
.switch-slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #7226FF;
  border-radius: 30px;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Text Labels */
.switch-label {
  flex: 1;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #786e89;
  z-index: 1;
  transition: color 0.3s ease;
}

.switch-label.active {
  color: #fff;
}

.BBGns-IIMSh{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 130px 1fr 130px;
    gap:30px;
    padding: 20px;
}

.BBGns-IIMSh-Part{
    position: relative;
    width: 100%;
    height: auto;
}

.ppaths-Btns{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ppaths-Btns button{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
    text-align: left;
    font-size: 11px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.ppaths-Btns button:hover{
    color: #7226FF;
}

.ppaths-Btns button.active{
    color: #7226FF;
    font-weight: 600;
}

.IIMSh-HHdn-Sooa{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.IIMSh-HHdn-Sooa span{
    position: relative;
    width: 70px;
    height: 50px;
    background-color:#f7f5ff;
    display: inline-flex;
    border: 1px solid #e7e2f7;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.IIMSh-HHdn-Sooa span:hover{
    border-color: #7226FF;
}
.IIMSh-HHdn-Sooa span.active{
    border-color: #7226FF;
    border-width: 2px;
    background-color: transparent;
}


.structure-Secc{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.Object-Secs{
    position: relative;
}












