.schedule-container {
  padding: 24px;
  border-radius: 10px;
  position: relative;
}

.schedule-header {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.year {
  color: #928aad;
  font-weight: 400;
}



.schedule-body {
  position: relative;
  border-left: 2px solid #e2e8f0;
  height: 1440px; /* 24 hours * 60px */
  margin-left: 40px;
  margin-top: 10px;
}

.time-slot {
  position: absolute;
  width: 100%;
  height: 80px;
}

.time-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid #e2e8f0;
}

.current-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color:  #F042FF;
}

.current-line .dot {
  position: absolute;
  left: -7px;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color:  #F042FF;
  border-radius: 50%;
}

.appointment {
  position: absolute;
  left: 20px;
  right: 20px;
  background-color: #ebe6ff;
  border-left: 4px solid #7226FF;
  color: #7226FF;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 2px;
}

.aaa-Heada{
  font-size: 12px;
  font-weight: 600;
}

.appointment .details {
  font-size: 9px;
  color: #372580;
  margin-top: 2px;
}

.time-input{
  position: relative;
  font-size: 12px;
  background-color: transparent;
}


