/* ddFFatgs-Polas-container */

.ddFFatgs-Polas-container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    padding-top: 80px;
}