.audit-compliance-container {
  position: relative;
  padding: 50px;
}

.audit-compliance-tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  border-bottom: 1px solid #dddcdc;
  padding-bottom: 25px;
}
.audit-compliance-tabs p {
  padding: 10px;
  border-radius: 12px;
  font-size: 13px;
  border: 1px solid #959595;
}

.tab-items {
  display: flex;
  align-items: center;
  gap: 7px;
}

.audit-compliance-tabs .active {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 12px;
  font-size: 13px;
  color: #fff;
}

.audit-compliance-content {
  padding: 1px 20px 20px 20px;
}
