.bouncing-tooltip {
  position: absolute;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  pointer-events: none;
  z-index: 800;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transform-origin: center;
  transform: translateX(-50%); 
}


/* Add to ClusterMap.css */
.group-tooltip {
  z-index: 1000 !important;
}

.bouncing-tooltip {
  z-index: 800 !important;
  pointer-events: none; /* Prevent it from blocking hover events */
}









/* employee-popup-initials */

.employee-photo-icon .employee-img-wrapper img,
.employee-popup-photo,
.employee-initials-wrapper,
.employee-popup-initials{
     position: relative;
    width: 30px !important;
    height: 30px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: #ece8fd;
    color: #7226FF;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #fff;
    flex-shrink: 0 !important;
}





.distance-label{
  width: auto !important;
  height: auto !important;
  padding: 0px !important;
  font-size: 6px !important;
  background-color: #000 !important;
  color: #fff !important;
  padding: 2px 5px !important;
  white-space: nowrap !important;
  position: absolute !important;
  top: -100% !important;
  left: 50% !important;
  border-radius: 5px !important;

}

.leaflet-touch .leaflet-control-attribution {
    display: none !important;
}


.selected-check-icon{
  position: absolute; 
  top: -2px; 
  right: -2px; 
  background: #7226FF; 
  border-radius: 50%; 
  width: 14px; 
  height: 14px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border: 2px solid #fff; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}