.status-modal-content-container {
  background: #fff;
  border-radius: 12px;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.status-icon {
  margin-right: 1rem;
}

.success-icon-wrapper {
  border-radius: 16px;
  background: linear-gradient(180deg, #e9ddff 0%, #dac7ff 100%);
  box-shadow: 0 1px 1px -0.5px rgba(0, 0, 0, 0.04),
    0 3px 3px -1.5px rgba(0, 0, 0, 0.04);
  gap: 12px;
  padding: 12px;
}

.success-icon {
  display: flex;
  width: 33.333px !important;
  height: 26.667px !important;
  flex-shrink: 0;
  padding: 6.667px 3.333px 6.666px 3.333px;
  justify-content: center;
  align-items: center;
}

.error-title {
  color: #ef4444; /* Tailwind's red-500 */
}

/* Red icon when error */
.error-icon {
  color: #ef4444;
}

.status-message h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
}

.status-message p {
  margin: 0;
  color: #5b616d;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  white-space: pre-line;
}

.status-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.status-modal-footer.dual-buttons {
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.status-modal-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.875rem;
  white-space: nowrap;
}

.primary-button {
  background-color: #8b5cf6;
  color: white;
  display: flex;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: #8b4cff;

  box-shadow: 0 2px 8px -2px rgba(255, 255, 255, 0.56) inset,
    0 0 8px -2px rgba(0, 0, 0, 0.24) inset;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.primary-button:hover {
  background-color: #7c3aed;
}

.secondary-button {
  background-color: #e5e7eb;
  color: #374151;
  display: flex;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.secondary-button:hover {
  background-color: #d1d5db;
}

.status-container.error ~ .status-modal-footer .primary-button {
  background-color: #ef4444;
}

.status-container.error ~ .status-modal-footer .primary-button:hover {
  background-color: #dc2626;
}
