/* CoverageMap */

.CoverageMap{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
}


.CovG-1{
    position: relative;
    width: 350px;
    height: 100%;
    padding: 30px;
}

.CovG-2{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.CovG-1-Main{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #e7e2f7;
    border-radius: 10px;
}

.MapObject{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}