.Democalendar-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* Calendar header adjustments */
.Democalendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  margin-bottom: 20px;
}

.ol-cardl{
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.Democalendar-dropdown,
.Demotoday-button{
  position: relative;
  width: auto;
  height: 35px;
  padding: 0px 13px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px solid #7226FF;
  color: #7226FF;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.Demotoday-button:hover{
  background-color: #7226FF;
  color: #fff;
}
.Democalendar-dropdown{
  border-color: #dcdae3 !important;
  color: inherit !important;
  background-color: transparent !important;
}
.Democalendar-dropdown svg{
  width: 14px !important;
}
.Democalendar-dropdown:hover{
  background: #f7f5ff !important;
}
.Democalendar-nav {
  position: relative;
  width: auto;
  height: 35px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px solid #dcdae3;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  font-size: 12px;
}

.Democalendar-nav button{
  position: relative;
  width: 35px;
  height: 35px;
  background: transparent;
  border-left: 1px solid #dcdae3;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.Democalendar-nav button:first-child{
  border-left: none !important;
  border-right: 1px solid #dcdae3;
}
.Democalendar-nav button svg{
  width: 14px;
}

.Democalendar-nav button:hover{
  background: #f7f5ff;
}









.Democalendar-popup {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 300px;
}

/* Calendar Month */
.Democalendar-month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.Democalendar-month-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.Democalendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar-weekday {
  padding: 3px;
}

.Democalendar-days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.calendar-day {
  padding: 8px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.9rem;
}

.calendar-day:hover {
  background-color: #f7f5ff;
}

.Democalendar-days-grid .calendar-day.today {
  background: #7226FF;
  font-weight: bold;
  color: #fff !important;
}

.calendar-day.selected {
  background: #ebe6ff;
  font-weight: bold;
   color: #7226FF;
}

.calendar-day.other-month {
  color: #aaa;
}

















/* Calendar Dropdown */
.DemoDemocalendar-dropdown-container {
  position: relative;
  display: inline-flex;
}


.Democalendar-grid {
  display: flex;
}

.Democalendar-times {
  width: 60px;
  display: flex;
  flex-direction: column;
}

.time-header {
  height: 40px;
}

.time-cell {
  height: 60px;
  line-height: 60px;
  font-size: 11px !important;
  padding-right: 10px !important;
  text-align: right;
  box-sizing: border-box;
  border-right: 1px solid #e6e3f6;
}

.calendar-day-column {
  flex: 1;
  border-right: 1px solid #e6e3f6;
  display: flex;
  flex-direction: column;
}

.calendar-day-column:last-child {
  border-right: none;
}

.calendar-day-header {
 position: relative;
 display: flex;
 flex-direction: column;
 gap: 5px;
 padding: 4px 6px;
 height: 65px;
 border-bottom: 1px solid #e6e3f6;
}

.calendar-day-header span{
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.calendar-day-header p{
  font-size: 20px;
  font-weight: 600;
}

.current-day {
  background: #ebe6ff !important;
  color: #7226FF !important;
}

.calendar-cell {
  height: 60px;
  border-bottom: 1px solid #e6e3f6;
  box-sizing: border-box;
  padding: 4px 6px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Remove double left border on first cell */
.calendar-day-column .calendar-cell:first-child {
  border-left: none;
}

.past {
  background-color: #f7f5ff;
}

.present {
  background-color: #d1f0d1;
  color: #256029;
  border-left: 2px solid #256029;
  font-weight: 600;
}

.future {
  background-color: white;
}

.morning {
    background-color: #ebe6ff !important; 
  border-left: 2px solid #7226FF !important;
  color: #7226FF !important;
  font-weight: 600;
}

.afternoon {
  background-color: rgba(0, 34, 253, 0.15);
  color: #0022FD;
  font-weight: 600;
  border-left: 2px solid #0022FD;
}

.evening {
   background-color:  rgba(215, 38, 255, 0.15);
  color: #D726FF;
  font-weight: 600;
  border-left: 2px solid #D726FF;
}

.event-name {
  font-weight: 700;
}

.event-time {
  font-size: 0.7rem;
  opacity: 0.7;
  margin-top: 2px;
}





.current-available {
  background-color: #ebe6ff !important; 
  border-left: 2px solid #7226FF !important;
  color: #7226FF !important;
}











/* Add this to your CSS */
.closed-slot {
  position: relative;
    background-color:  rgba(215, 38, 255, 0.15);
  color: #D726FF;
  font-weight: 600;
  border-left: 2px solid #D726FF;
}

.closed-slot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top right,
    transparent calc(50% - 1px),
    rgba(215, 38, 255, 0.3),
    transparent calc(50% + 1px)
  );
}

.closed-text {
  font-weight: 600;
  position: relative;
  z-index: 1;
  text-align: center;
}




/* Current availability highlight */
.current-available {
  position: relative;
  z-index: 1;
}

.current-available::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid #7226FF;
  border-radius: 4px;
  z-index: 0;
}

/* Event styling */
.event-name {
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.event-time {
  font-size: 0.7rem;
  opacity: 0.7;
  margin-top: 2px;
  position: relative;
  z-index: 1;
}

/* .today-cell {
  background-color: rgba(227, 242, 253, 0.3) !important;
} */



/* Current day highlight */
.current-day {
  background-color: #007bff;
  color: white;
}

/* Today button in calendar popup */
.Democalendar-popup .Demotoday-button {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  font-size: 0.9rem;
}



/* nearest-availability */

.nearest-availability{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.nearest-availability h3{
  font-size: 14px;
  font-weight: 500;
}

.nearest-availability p{
  font-size: 10px;
}