.profile-initials {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 35px !important;
  height: 35px !important;
  background-color: #f7f5ff;
  border-radius: 50%;
  font-weight: 600;
  font-size: 12px !important;
  border: 2px solid #f3f4f6;
  flex-shrink: 0 !important;
}

.profile-img {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  object-fit: cover;
}
