.bouncing-tooltip {
  position: absolute;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  pointer-events: none;
  z-index: 800;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transform-origin: center;
  transform: translateX(-50%); 
}


/* Add to ClusterMap.css */
.group-tooltip {
  z-index: 1000 !important;
}

.bouncing-tooltip {
  z-index: 800 !important;
  pointer-events: none; /* Prevent it from blocking hover events */
}


